@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.hero-bg { 
  background-image: url(./images/background.jpg) ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #94B1DD;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-item {
  margin: 30px 0;
  padding: 0 28px;
  border-radius: 20px;
}

.navbar {
  background-color: aquamarine;
  margin: 20px 50px;
  height: 100px;
}

.logo-nav {
  height: 50px;
}

.search-input {
  /* width: 30%; */
  height: 3.2em;
  background: #E4EEF0;
  border: 2.8px solid #E4EEF0;
  margin-left: -20px;
}

.search-button {
  border-radius: 60px;
  height: 3.2em;
  width: 3.2em;
  background: #E4EEF0;
  border: 2.8px solid #E4EEF0;
}


.search {
  margin-top: -200px;
}

/* 
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  width: 20%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 0px;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(40% - 10px);
  top: calc(100vh - 85vh - 33px);
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
} */

.auth-box {
  visibility: visible;
}

.hello-plus-card{
  padding-top: 20px;
}

.hello-user {
  color:  #E4EEF0;
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: bold;
}

.subtitle {
  vertical-align: middle;
}

.auth-box {
  padding-top: 200px;
}